<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="icon" href="static/icon1.webp"> -->
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<!-- login -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class=""  onload="myFunctionf()">
  <div class="load2">
    <!-- <img class="dis-image" src="https://im2.ezgif.com/tmp/ezgif-2-af4280621a.gif" style="margin-left: auto; margin-right:auto; display:block; background-color:#fff; margin-top:auto; margin-bottom:auto" alt=""> -->
    <img class="dis-image" src="https://cdn.dribbble.com/users/722246/screenshots/9714311/media/1714775b3deacede41aef42533ada46c.gif" style="margin-left: auto; margin-right:auto; display:block; background-color:#fff; margin-bottom:auto" alt="">
  </div>
  <div class="load1 hid">
    <header class="header-white">
        <img class="icon-home icon1" src="static/icon.webp" alt="">
        <img class="icon2 hid" style="width: 4.4%; margin-left:1.7%; margin-top: 1.7%; margin-bottom: 1.7%; margin-right: 0.4%;" src="static/footer.webp" alt="">
        <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700;" >Freg<span class="header-other other-red">zy</span></h1>
        <nav>
          <ul class="docking">
            
            <li class="pra ho light"><i style="font-size: 2.5vw;" class="fa fa-lightbulb-o"></i></li>
            <li class="pra ho dark hid"><i style="font-size: 2.5vw; color: #fff;" class="fa fa-moon-o"></i></li>
            <li class="pra "><a class="heading-left decoration tic ho" style="font-weight: 700;">About</a></li>
            <li class="pra"><a class="heading-left decoration tic ho " style="font-weight: 700;" href="">Features</a></li>
            <!-- <li><a class="decoration tic"  href="">Blog</a></li> -->
            <li class="pro"><a class="heading-left decoration tic ho" style="font-weight: 700;" href="">FAQ</a></li>
            <li class="pre"><a class="red sr" style="font-weight: 700;" href="/">Home</a></li>
            <li class="pre"><button class="btn but1 all-button-red" style="border-radius: 50px; padding: 0.5rem 1rem; text-decoration: none; font-weight: 700;" type="submit"><a style="font-weight: 700;" class="white sign-button" href="/Signup">Signup</a></button></li>
            
          </ul>
        </nav>
      </header>
      <div class="second-head">
        <div class="wrapper">
          <div class="navbar header-white">
            <div class="logo">
              <h1 class="heading heading-black" style="font-family: 'Cookie', cursive; font-weight: 700; text-align: center;" >Freg<span class="header-other other-red">zy</span></h1>
            </div>
              <div class="nav_right">
             <ul>
               <li class="nr_li">
            <li class="second-bulb light"><i class="fa fa-lightbulb-o"></i></li>
            <li class="second-bulb dark hid" style="color: #fff;"><i class="fa fa-moon-o"></i></li>
               <li class="nr_li li_main">
                 <!-- <img style="padding: 3px;"  class="omg og" src="static/menu.png" alt=""> -->
                 <!-- <li class="second-bulb"><i class="oy fa fa-bars"></i></li> -->
                 <i style=" border-radius: 10%;" class="oy bar-black first-top second-bulb fa fa-bars"></i>
                 <i style=" border-radius: 10%; color: #fff;" class="hid bar-white oy first-top second-bulb fa fa-bars"></i>

               <!-- </li> -->
                 <div class="dd_menu">
                   <div class="dd_left">
                     <ul>
                      <li><a href="/login"><i style="color: #fff;" class=" fa fa-home"></i></a></li><hr style="color: #4F0E0E; border: 1px solid;">
                      <li><a href="/signup"><i style="color: #fff;" class=" fa fa-sign-in"></i></a></li>
                     </ul>
         
                   </div>
                   <div class="dd_right">
                     <ul>
                      <li><a class="init link-line" style="color: #4F0E0E; font-weight: 700;" href="/"> Home</a></li><hr style="color: #4F0E0E; border: 1px solid;">
                       <li><a class="init link-line" style="color: #4F0E0E; font-weight: 700;" href="/Signup"> Signup</a></li>
                     </ul>
         
                   </div>
                 </div>
               </li>
             </ul>
            </div>
          </div>
           </div>
           <div class=" header-bw vain ki body-color body-color-white" style="margin-bottom: 0%; font-family: 'Varela Round', sans-serif;">
            <i style="margin-right: 1%; margin-top: -1%;" class=" x erase fa fa-times"></i>
            <h1 class="header-wer sap"><span class="fregy" style="font-family: 'Cookie', cursive; font-weight: 700; color: #4F0E0E; font-size: 5vw;">Fregzy</span> works best on our app!</h1>
            <ul class="docking">
          <li class="">
          <!-- <h1 style="font-weight:500;" class="clear"> Dismiss</h1> -->
        <button class="btn sap" style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line">Get</a></button>
          </li>
          </ul>
          </div>
          </div>

          <div class="on-top hid">

          </div>
          <!-- background-color: #F6E7D8; -->
            <div style="margin: 0; height: 100%;" class="enter-display">
<video autoplay muted loop playsinline class="vid1" id="myVideo"><source src="static/lib-vid.mp4" type="video/mp4"></video>
<img  class="img1" src="static/woman-bord.jpg" alt=""> 
<video autoplay muted loop playsinline class="vid2" id="myVideo"><source src="static/multi-grad.mp4" type="video/mp4"></video>
<img class="img2" src="static/tech2.jpg" alt="">
<!-- <video autoplay muted loop playsinline style="width: 50%; padding-bottom: 2%; margin-top: -2%; padding-left: 5%;" id="myVideo"><source src="static/young-boy.mp4" type="video/mp4"></video> -->
<img class="img3" src="static/tab-back.jpg" alt="">       
<!-- <img style="width: 50%; padding-bottom: 2%; margin-top: -3.5%; border-bottom-left-radius: 150px; padding-left: 5%;" src="static/smiling-kids.jpg" alt="">        -->
<!-- <img style="width: 50%; padding-bottom: 2%; margin-top: -30%; margin-left: -1%; padding-right: 5%;" src="static/black-lib.jpg" alt=""> -->
<!-- <img style="width: 50%; padding-bottom: 2%; margin-top: -41%; margin-left: -1%; padding-right: 5%; border-bottom-right-radius: 150px;" src="static/tech-bro.jpg" alt=""> -->
</div>  


<div style="" class="login-profile">
  <img class="log-icon1 login-icon" style="margin-left: auto; margin-right: auto; display: block;" src="static/icon.webp" alt="">
  <img class="log-icon2 login-icon2 hid" style="margin-left: auto; margin-right: auto;" src="static/footer.webp" alt="">
<h1 class="welcoming namef" style= "font-family: 'Cookie', cursive; font-weight: 700; margin-top: -5%; font-size: 6vw; text-align: center;">Welcome back<span class=" addition add1" style="font-family: 'Varela Round', sans-serif; font-size: 5vw; color: #4F0E0E;">!</span></h1>
<h1 class="welcoming names" style="font-family: 'Cookie', cursive; font-size: 14vw; font-weight: 700; margin-top: -5%; text-align: center;">Welcome back<span class=" addition add2" style="font-family: 'Varela Round', sans-serif; font-size: 10vw; color: #4F0E0E;">!</span></h1>
<h1 class="enter-details bap" style=" font-weight: 700;  text-align: center;">Welcome back, please enter your details.</h1>
<button class="btn google-but sap" style="border-radius: 50px; text-decoration: none; font-weight: 700; border-color: #4F0E0E; border-radius: 10px; margin-top: 5%; background-color: #fff; margin-left: auto; margin-right: auto; display: block;" type="submit"><a  style="font-weight: 700; color: #000;" class="white sign-button google-log"><img style="width: 15%;" src="https://img.icons8.com/fluency/48/000000/google-logo.png"/> Login with Google</a></button>
<button class="btn google-but lop sap" style="border-radius: 50px; text-decoration: none; font-weight: 700; border-color: #4F0E0E; border-radius: 10px; margin-top: 5%; background-color: #fff; margin-left: auto; margin-right: auto; display: block;" type="submit"><a  style="font-weight: 700; color: #000;" class="white sign-button google-log"><img style="width: 15%;" src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/> Login with Facebook</a></button>
<br>
<!-- <hr style="width: 25%; margin-left: 2%; margin-top: 15%; margin-bottom: -8%; height: 3px; background-color: #000;"> -->
<div style="margin-left: auto; margin-right: auto; display: block; margin-top: -6%; margin-bottom: -5%;">
<div style="width: 27%; margin-left: 18%; margin-top: 15%; margin-bottom: -15.5%; height: 3px; background-color: #757575;"></div>
<div style="width: 27%; margin-left: 57%; margin-top: 15%; margin-bottom: -8%; height: 3px; background-color:  #757575;"></div>
<h1 class="or" style=" font-weight:400; margin-left: 48%; margin-top:4.5%; margin-bottom: 15%;">Or</h1>
</div>
<form action="/login" method="post" class="">
  <!-- <input class="login-inside username bap" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none; border-top: none; margin-bottom: 10%; font-weight: 700; margin-left: auto; margin-right: auto; display: block;" name="username" type="text" value="<%= user %>" placeholder="Username or Email" required><br> -->
  <h1  class="user-sign first-pass sap oo" style=" font-weight: 700; margin-left:19%; margin-bottom: 2%; color: #1d2a35; margin-top: 10%;">Username or Email</h1>
  <div class="profile-group" style="margin-left: 10%; margin-right: 10%; margin-bottom: 4%;">
      <!-- <label for="">Full Nmae</label> -->
      <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
      <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
      <button  type="button" class="btn sign-icon-1" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #fbf8f5; padding-right:2%;"><i style="color: #4F0E0E;" class="fa fa-user-circle-o display-ic"></i></button>
      <button  type="button" class="btn sign-icon-2 hid" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #131313; padding-right:2%;"><i style="color: #fd859d;" class="fa fa-user-circle-o display-ic"></i></button>
      <input class="profile-inside pass-login pass-input bap input-sign bap username-input username" style="border-radius: 0%;  border-right: none; border-left: none; border-top: none;  background-color:#fbf8f5; border-color: #d4b194; font-weight: 700; padding-right: 2%; text-transform: capitalize;" name="username" value="<%= user%>" maxlength="25" placeholder="username or email"  type="text" required>
      <!-- <button type="button" class="btn user-but at-sign at1" style=" border-radius: 0%; border-right: none; border-left: none; border-top: none; background-color: #fbf8f5; border-color: #d4b194; color: #4F0E0E;"><h1 class="display-ic" style=" font-weight: 700;">@</h1></button> -->

  </div>
  <h1 class="user-sign sap" style="color: red; text-align:center; font-weight: 700; margin-top: 2%; margin-bottom: 2%;"> <%= usernotfound %> </h1>
  <h1 class="user-sign sap" style="color: red; text-align:center; font-weight: 700; margin-top: 2%; margin-bottom: 2%;"> <%= passnotfound %> </h1>

  <h1  class="user-sign first-pass sap" style=" font-weight: 700; margin-left:19%; margin-bottom: 2%; color: #1d2a35; margin-top: 10%;">Password</h1>
  <div class="profile-group" style="margin-left: 10%; margin-right: 10%; margin-bottom: 4%;">
      <!-- <label for="">Full Nmae</label> -->
      <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
      <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
      <button  type="button" class="btn sign-icon-1" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #fbf8f5; padding-right:2%;"><i style="color: #4F0E0E;" class="fa fa-lock display-ic"></i></button>
      <button  type="button" class="btn sign-icon-2 hid" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #131313; padding-right:2%;"><i style="color: #fd859d;" class="fa fa-lock display-ic"></i></button>
      <input class="profile-inside input-sign pass-login2 pass-input bap" style="border-radius: 0%;  border-right: none; border-left: none; border-top: none;  background-color:#fbf8f5; border-color: #d4b194; font-weight: 700; padding-right: 2%;" name="password" minlength="8" value="<%= pass %>" placeholder="Password"  type="password" required>
      <button class="btn vis-white hid eye-log" type="button" style="border-radius: 0%; border-left: none; border-right: none;  border-top: none; background-color: #131313;  border-color: #d4b194;"><img class="img-pass" style="margin-left:45%;" src="https://img.icons8.com/fluency-systems-regular/white/48/ffffff/visible.png"/></button>
      <button class="btn invis-white hid eye-log" type="button" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-left: none;  border-right: none;  border-top: none; background-color: #131313;  border-color: #d4b194; border-radius: 0%;"><img class="img-pass" style=" margin-left:45%;" src="https://img.icons8.com/fluency-systems-regular/48/ffffff/invisible.png"/></button> 
      <!-- <button type="button" class="btn pass-but" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #D8B6A4;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
      <button type="button" class="btn pass-but vis hid" style="border-radius: 0%; border-left: none; border-right: none;  border-top: none; background-color: #fbf8f5; border-color: #d4b194;"><img class="img-pass" style=" margin-left:45%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/visible.png"/></button>
      <button type="button" class="btn pass-but invis" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-left: none;  border-right: none;  border-top: none; background-color: #fbf8f5; border-color: #d4b194; border-radius: 0%;"><img class="img-pass" style=" margin-left:45%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/invisible.png"/></button>
  
      </div>

  <!-- <div class="login-form-group">
    <input class="login-inside pass-login bap" style="border-radius: 0%; border-right: none; border-left: none; border-top: none; padding-right: 2.5rem; font-weight: 700; margin-left: auto; margin-right: auto; display: block;" name="password" type="password" value="<%= pass %>" placeholder="Password" required>    
    <button class="btn vis hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-top: none; border-bottom: none; background-color: #fbf8f5;"><img class="img-pass" style="margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/visible.png"/></button>
    <button class="btn invis eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-top: none; border-bottom: none; background-color: #fbf8f5;"><img class="img-pass" style=" margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/invisible.png"/></button>
    <button class="btn vis-white hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-top: none; border-bottom: none; background-color: #1d2a35;"><img class="img-pass" style="margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/white/48/ffffff/visible.png"/></button>
    <button class="btn invis-white hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-top: none; border-bottom: none; background-color: #1d2a35;"><img class="img-pass" style=" margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/ffffff/invisible.png"/></button>
  </div> -->
  <h3 class="user-sign bap"><a style="color: #4F0E0E; text-decoration: none; font-weight: 700; margin-left: 70%;"  class="user-sign bap" href="/account-recovery">Forgot Password?</a></h3>
  <!-- <ul>
    <li>
      <input type="checkbox" style=" font-family: 'Varela Round', sans-serif;" name="accept" id="checklist"><h1 style="font-size: 1vw; margin-top: -1%;">Remember me</h1>
    </li>
    <li>

    </li>
  </ul> -->
<button class="btn but1 login-user" style="border-radius: 50px; text-decoration: none; font-weight: 700; background-color: #4F0E0E; border-radius: 10px; margin-top: 5%; margin-left: auto; margin-right: auto; display: block;" type="submit"><a style="font-weight: 700; color: #fff;" class="white sign-button login-word">Log in</a></button>
</form>
<h1 class="please-sign bap" style="text-align: center;">Don't have an account? <a style="color: #4F0E0E; text-decoration: none; font-family: 'Cookie', cursive; font-weight: 700;" class="sign-link" href="/signup">Sign up for Free</a></h1>
</div>


<!-- <div style="position: fixed; bottom: 0;"> 
  <i style="" class='question fas fa-comment-alt'></i>
</div> -->


<div class="maxi-height">
  <div class="no-div">
      <div class="hid bw vain ki body-color body-color-white" style="margin-bottom: 0%;">
        <img class="rap" src="static/connection.png" alt="">
        <h1 class="wer">No Network</h1>
        <ul class="docking">
      <li class="lap">
      <button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line">Dismiss</a></button>
      </li>
      </ul>
      </div>
  </div>
     
</div>
  </div>
       <script>
   var li_main=document.querySelector(".li_main");
    
    li_main.addEventListener("click", function(){
      this.classList.toggle("active");
      if(document.querySelector(".bar-black").className.includes("seen")){
        document.querySelector(".bar-black").classList.remove("seen")
        document.querySelector(".bar-black").classList.add("first-top")
        document.querySelector(".bar-black").classList.remove("second-top")
      }
      else{
      document.querySelector(".bar-black").classList.add("seen")
      document.querySelector(".bar-black").classList.add("second-top")
      document.querySelector(".bar-black").classList.remove("first-top")
      }
      if(document.querySelector(".bar-white").className.includes("soon")){
        document.querySelector(".bar-white").classList.remove("soon")
        document.querySelector(".bar-white").classList.add("first-top")
        document.querySelector(".bar-white").classList.remove("second-top")
      }
      else{
      document.querySelector(".bar-white").classList.add("soon")
      document.querySelector(".bar-white").classList.add("second-top")
      document.querySelector(".bar-white").classList.remove("first-top")
      }
    })       

    for(let i=0; i<2; i++){
    var li_icon=document.querySelectorAll(".light");
li_icon[i].addEventListener("click", ()=>{
  document.querySelectorAll(".light")[1].classList.add("hid")
  document.querySelectorAll(".dark")[1].classList.remove("hid")
  document.querySelectorAll(".light")[0].classList.add("hid")
  document.querySelectorAll(".dark")[0].classList.remove("hid")
  document.querySelector(".bar-white").classList.remove("hid")
  document.querySelector(".bar-black").classList.add("hid")
  document.querySelector(".load1").classList.add("fz")
  document.querySelector(".load1").classList.remove("sz")
  document.querySelector("header").classList.add("header-black")
  document.querySelector("header").classList.remove("header-white")
  document.querySelector(".log-icon1").classList.add("hid")
  document.querySelector(".log-icon2").classList.remove("hid")
  document.querySelector(".question").style.backgroundColor="#fff"
  document.querySelector(".question").style.color="#4f0e0e"
  document.querySelector(".navbar").classList.add("header-black")
  document.querySelector(".navbar").classList.remove("header-white")
  document.querySelector(".navbar").style.borderBottom= "3px solid #FF869E";
  document.querySelector(".header-wer").style.color="#FFF"
  document.querySelector(".wer").style.color="#FFF"
  document.querySelector(".x").style.color="#990000"
  document.querySelectorAll(".login-inside")[0].style.backgroundColor="#1d2a35"
  document.querySelectorAll(".login-inside")[1].style.backgroundColor="#1d2a35"
  document.querySelectorAll(".login-inside")[0].style.color="#fff"
  document.querySelectorAll(".login-inside")[1].style.color="#fff"
  document.querySelector(".login-user").style.borderColor="#fff"
  document.querySelectorAll(".body-color")[0].classList.add("body-color-black")
  document.querySelectorAll(".body-color")[0].classList.remove("body-color-white")
  document.querySelectorAll(".body-color")[1].classList.add("body-color-black")
  document.querySelectorAll(".body-color")[1].classList.remove("body-color-white")
  document.querySelector(".icon1").classList.add("hid")
  document.querySelector(".icon2").classList.remove("hid")
  document.querySelector(".add1").style.color="#FF869E"
  document.querySelector(".add2").style.color="#FF869E"
  document.querySelector(".sign-link").style.color="#FF869E"
  // document.querySelector(".vis-white").classList.remove("hid")
  // document.querySelector(".vis").classList.add("hid")
  // document.querySelector(".invis-white").classList.remove("hid")
  // document.querySelector(".invis").classList.add("hid")
  document.querySelectorAll(".heading")[0].classList.add("heading-white")
  document.querySelectorAll(".heading")[0].classList.remove("heading-black")
  document.querySelectorAll(".heading")[1].classList.add("heading-white")
  document.querySelectorAll(".heading")[1].classList.remove("heading-black")
  document.querySelector(".but1").classList.remove("all-button-red")
  document.querySelector(".but1").classList.add("all-button-white")
  document.querySelector(".sign-button").classList.add("red")
  document.querySelector(".sign-button").classList.remove("white")
  document.querySelector(".sr").classList.remove("red")
  document.querySelector(".sr").classList.add("white")
  for(let j=0; j<3; j++){
    document.querySelectorAll(".heading-left")[j].classList.add("white")
  document.querySelectorAll(".heading-left")[j].classList.remove("tic")
  document.querySelectorAll(".header-other")[0].classList.add("other-blue")
  document.querySelectorAll(".header-other")[0].classList.remove("other-red")
  document.querySelectorAll(".header-other")[1].classList.add("other-blue")
  document.querySelectorAll(".header-other")[1].classList.remove("other-red")
  }
  if(document.querySelector(".vis").classList.contains("hid")!=true){
    document.querySelector(".invis-white").classList.add("hid")
    document.querySelector(".vis").classList.add("hid")
    document.querySelector(".vis-white").classList.remove("hid")
    document.querySelector(".invis").classList.add("hid")
    // document.querySelector(".vis-white").classList.remove("hid")
  }
  else if(document.querySelector(".vis").classList.contains("hid")==true){
    document.querySelector(".invis-white").classList.remove("hid")
    document.querySelector(".vis").classList.add("hid")
    document.querySelector(".invis").classList.add("hid")
    document.querySelector(".vis-white").classList.add("hid")
    // document.querySelector(".vis-white").classList.remove("hid")
  }
  // else if(document.querySelector(".vis").classList.contains("hid")){
  //   // document.querySelector(".vis-white").classList.add("hid")
  //   document.querySelector(".invis-white").classList.remove("hid")
  // }
//   for(let r=0; r<3; r++){
//   document.querySelectorAll(".heading-left")[r].classList.add("white")
//   document.querySelectorAll(".heading-left")[r].classList.remove("tic")
// }


})

var lo_icon=document.querySelectorAll(".dark");
lo_icon[i].addEventListener("click", ()=>{
  document.querySelectorAll(".light")[1].classList.remove("hid")
  document.querySelectorAll(".dark")[1].classList.add("hid")
  document.querySelectorAll(".light")[0].classList.remove("hid")
  document.querySelectorAll(".dark")[0].classList.add("hid")
  document.querySelector(".load1").classList.remove("fz")
  document.querySelector(".load1").classList.add("sz")
  document.querySelector(".bar-white").classList.add("hid")
  document.querySelector(".bar-black").classList.remove("hid")
  document.querySelector("header").classList.remove("header-black")
  document.querySelector("header").classList.add("header-white")
  document.querySelector(".log-icon1").classList.remove("hid")
  document.querySelector(".log-icon2").classList.add("hid")
  document.querySelector(".navbar").classList.remove("header-black")
  document.querySelector(".navbar").classList.add("header-white")
  document.querySelector(".navbar").style.borderColor= "#4F0E0E"
  document.querySelector(".wer").style.color="#000"
  document.querySelector(".add1").style.color="#4F0E0E"
  document.querySelector(".add2").style.color="#4F0E0E"
  document.querySelector(".question").style.backgroundColor="#4f0e0e"
  document.querySelector(".question").style.color="#fff"
  document.querySelector(".login-user").style.borderColor="#4F0E0E"
  document.querySelector(".sign-link").style.color="#4F0E0E"
  document.querySelector(".header-wer").style.color="#000"
  document.querySelector(".x").style.color="#000"
  document.querySelectorAll(".login-inside")[0].style.backgroundColor="#fbf8f5"
  document.querySelectorAll(".login-inside")[1].style.backgroundColor="#fbf8f5"
  document.querySelectorAll(".login-inside")[0].style.color="#495057"
  document.querySelectorAll(".login-inside")[1].style.color="#495057"
  document.querySelectorAll(".body-color")[0].classList.remove("body-color-black")
  document.querySelectorAll(".body-color")[0].classList.add("body-color-white")
  document.querySelectorAll(".body-color")[1].classList.remove("body-color-black")
  document.querySelectorAll(".body-color")[1].classList.add("body-color-white")
  document.querySelector(".icon1").classList.remove("hid")
  document.querySelector(".icon2").classList.add("hid")
  document.querySelectorAll(".heading")[0].classList.remove("heading-white")
  document.querySelectorAll(".heading")[0].classList.add("heading-black")
  document.querySelectorAll(".heading")[1].classList.remove("heading-white")
  document.querySelectorAll(".heading")[1].classList.add("heading-black")
  document.querySelector(".but1").classList.add("all-button-red")
  document.querySelector(".but1").classList.remove("all-button-white")
  document.querySelector(".sign-button").classList.remove("red")
  document.querySelector(".sign-button").classList.add("white")
  document.querySelector(".sr").classList.add("red")
  document.querySelector(".sr").classList.remove("white")
  for(let r=0; r<3; r++){
  document.querySelectorAll(".heading-left")[r].classList.remove("white")
  document.querySelectorAll(".heading-left")[r].classList.add("tic")
}
for(let j=0; j<2; j++){
  document.querySelectorAll(".header-other")[j].classList.remove("other-blue")
  document.querySelectorAll(".header-other")[j].classList.add("other-red")
  }
  if(document.querySelector(".vis-white").classList.contains("hid")!=true){
    document.querySelector(".invis-white").classList.add("hid")
    document.querySelector(".vis").classList.remove("hid")
    document.querySelector(".vis-white").classList.add("hid")
    document.querySelector(".invis").classList.add("hid")
    // document.querySelector(".vis-white").classList.remove("hid")
  }
  else if(document.querySelector(".vis-white").classList.contains("hid")==true){
    document.querySelector(".invis-white").classList.add("hid")
    document.querySelector(".vis").classList.add("hid")
    document.querySelector(".invis").classList.remove("hid")
    document.querySelector(".vis-white").classList.add("hid")
    // document.querySelector(".vis-white").classList.remove("hid")
  }
})
    }


    function myFunctionf() {
      setTimeout(()=>{
  document.querySelector(".load1").classList.remove("hid")
  document.querySelector(".load2").classList.add("hid")
  document.querySelector("body").classList.add("sz")
  document.querySelector("body").classList.add("sap")
      }, 3000)
}

    var hi= document.querySelector(".lap")
            hi.addEventListener("click", ()=>{
              document.querySelector(".bw").classList.remove("hij")
              document.querySelector(".bw").classList.add("hid")
            })

    function hasNetwork(onLine){
  const vak = document.querySelector(".bw");
  if (onLine){
    vak.classList.remove("hij");
    vak.classList.add("hid");
  }
  else {
    vak.classList.add("hij");
    vak.classList.remove("hid");
  }
}
window.addEventListener("load", () => {
  hasNetwork(navigator.onLine);


window.addEventListener("online", () => {
  hasNetwork(true);
});

window.addEventListener("offline", () => {
  hasNetwork(false);

});

});
var ho= document.querySelector(".erase")
            ho.addEventListener("click", ()=>{
              document.querySelector(".header-bw").classList.add("hid")
              // document.querySelector(".setting").classList.add("first-back")
              document.querySelector(".on-top").classList.remove("hid")
            })

    //   var name= document.querySelector(".username")
    //      name.addEventListener("change", function(){
    //     var user= user_name.value
    // })
    var ini= document.querySelector(".username")
            ini.addEventListener("change", function(){
                var ty=ini.value
                var gh= ty.trim()
            if(gh.includes("@gmail.com")){
              document.querySelector(".namef").style.fontSize="5vw"
    document.querySelector(".add1").style.fontSize="5vw"
    document.querySelector(".add1").innerHTML="!"
    document.querySelector(".names").style.fontSize="10vw"
    // document.querySelector(".names").style.marginLeft="6%"
    document.querySelector(".add2").style.fontSize="10vw"
    document.querySelector(".add2").innerHTML="!" 
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
         }
         else if(gh.includes("@yahoo.com")){
              document.querySelector(".namef").style.fontSize="5vw"
    document.querySelector(".add1").style.fontSize="5vw"
    document.querySelector(".add1").innerHTML="!"
    document.querySelector(".names").style.fontSize="10vw"
    // document.querySelector(".names").style.marginLeft="6%"
    document.querySelector(".add2").style.fontSize="10vw"
    document.querySelector(".add2").innerHTML="!" 
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
         }
         else if(gh.includes("@hotmail.com")){
              document.querySelector(".namef").style.fontSize="5vw"
    document.querySelector(".add1").style.fontSize="5vw"
    document.querySelector(".add1").innerHTML="!"
    document.querySelector(".names").style.fontSize="10vw"
    // document.querySelector(".names").style.marginLeft="6%"
    document.querySelector(".add2").style.fontSize="10vw"
    document.querySelector(".add2").innerHTML="!" 
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
         }

          else if(gh.length>12){
    document.querySelector(".namef").style.fontSize="5vw"
    document.querySelector(".add1").style.fontSize="5vw"
    document.querySelector(".add1").innerHTML="!"
    document.querySelector(".names").style.fontSize="10vw"
    // document.querySelector(".names").style.marginLeft="6%"
    document.querySelector(".add2").style.fontSize="10vw"
    document.querySelector(".add2").innerHTML="!"
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
                    }
                else if(gh.length==0){
    document.querySelector(".namef").style.fontSize="5vw"
    document.querySelector(".add1").style.fontSize="5vw"
    document.querySelector(".add1").innerHTML="!"
    document.querySelector(".names").style.fontSize="10vw"
    // document.querySelector(".names").style.marginLeft="6%"
    document.querySelector(".add2").style.fontSize="10vw"
    document.querySelector(".add2").innerHTML="!"   
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
         }        
                    else if(gh.length>=8){
    document.querySelector(".namef").style.fontSize="4vw"
    document.querySelector(".add1").style.fontSize="2.4vw"
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="6%"
    }
                  var jj=gh[0].toUpperCase()
                   var kk= gh.replace(gh[0], jj)
                    document.querySelector(".add1").innerHTML=", "+ kk + "!"
  
    document.querySelector(".names").style.fontSize="10vw"
    document.querySelector(".add2").style.fontSize="5vw"
    // document.querySelector(".names").style.marginLeft="-9%"
                  var jj=gh[0].toUpperCase()
                   var kk= gh.replace(gh[0], jj)
                    document.querySelector(".add2").innerHTML=", "+ kk + "!"
                      }

                      else{
                        

    document.querySelector(".namef").style.fontSize="4vw"
    document.querySelector(".add1").style.fontSize="2.4vw"
    if(window.innerWidth<= 735){
      // document.querySelector(".welcoming").style.marginLeft="16%"
    }
                  var jj=gh[0].toUpperCase()
                   var kk= gh.replace(gh[0], jj)
                    document.querySelector(".add1").innerHTML=", "+ kk + "!"
  
    document.querySelector(".names").style.fontSize="10vw"
    document.querySelector(".add2").style.fontSize="5vw"
    // document.querySelector(".names").style.marginLeft="-5%"
                  var jj=gh[0].toUpperCase()
                   var kk= gh.replace(gh[0], jj)
                    document.querySelector(".add2").innerHTML=", "+ kk + "!"
                      }

            })

            document.querySelector(".vis").addEventListener("click", function(){
              document.querySelector(".vis").classList.add("hid")
              document.querySelector(".invis").classList.remove("hid")
              document.querySelector(".pass-login2").setAttribute("type", "password");
            })
            document.querySelector(".invis").addEventListener("click", function(){
              document.querySelector(".vis").classList.remove("hid")
              document.querySelector(".invis").classList.add("hid")
              document.querySelector(".pass-login2").setAttribute("type", "text");
            })

            document.querySelector(".vis-white").addEventListener("click", function(){
              document.querySelector(".vis-white").classList.add("hid")
              document.querySelector(".invis-white").classList.remove("hid")
              document.querySelector(".pass-login2").setAttribute("type", "password");
            })
            document.querySelector(".invis-white").addEventListener("click", function(){
              document.querySelector(".vis-white").classList.remove("hid")
              document.querySelector(".invis-white").classList.add("hid")
              document.querySelector(".pass-login2").setAttribute("type", "text");
            })
       </script>
</body>
</html>