<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <!-- <link rel="icon" href="static/icon1.webp"> -->
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class="sz">
  <div class="rapper bbb" style="">
    <div class="phone">
    <div class="below-phone" style=" background-color: #fff; border-right: 3px solid #f1f1f1 ;">
      <div class="dover" style="padding: 0 20%; padding-top: 20px; background-color: #FEFBF3; padding-bottom: 30%;">
        <img class="icon1" style="width: 75%; margin-left: -40%;" src="static/icon.webp" alt="">
        <img class="icon2 hid" style="width: 48.4%; margin-left:-21.3%; margin-top: 14.7%; margin-bottom: 21.7%; margin-right: 0.4%;" src="static/footer.webp" alt="">
        <h1 class="dash-header" style="font-family: 'Cookie', cursive; font-weight: 700; font-size: 2.5vw; margin-right: 23%; margin-top: -15%;" >Freg<span class="header-other other-red">zy</span></h1>      
        </div>
      <h5 class="slog1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; margin-left: 41%; font-weight: 700; margin-top: -53%; padding-bottom: 50%;">Educational <span class="slog2"  style="color: #4F0E0E"> Integration</span></h5
  <i style="padding: 1% 3.2%; padding-right: 5%; color: #fff; background-color:#4F0E0E; font-size: 1.5vw; margin-left:93%; border-bottom-left-radius: 100%; border-top-left-radius: 100%;" class="fa fa-angle-double-left"> </i>
  <i style="padding: 0.5% 1%; padding-right: 1.3%; color: #fff; background-color:#4F0E0E; font-size: 1.5vw; border-bottom-left-radius: 100%; border-top-left-radius: 100%; position: fixed;" class=" sliding fa fa-angle-double-left"> </i>
  
      
      <img style="margin-left: auto; margin-right: auto; width: 40%; display: block; border-radius: 100%;" src="static/icon-image.jpg"/>
<h1 class="name1" style="padding-bottom:20%; font-family: 'Varela Round', sans-serif; text-align: center; padding-top: 5%; font-weight: 700;">Enamuehen<span class="name2" style="color: #4F0E0E"> Angelo <img style="width: 8%;" src="https://img.icons8.com/external-anggara-flat-anggara-putra/32/000000/external-verified-ui-basic-anggara-flat-anggara-putra.png"/></span></h1>
      <div style="margin-bottom: 30%;">
        <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashi-1 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/><span class="dash-1 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span> </a>
        <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashiw-1 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/FF869E/home.png"/><span class="dashw-1 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #fff;">Dashboard</span></a>
        <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashi-2" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/><span class="dash-2 changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span></a>  
        <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashi0 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/><span class="dash0 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span></a>
  
    </div>
      <div style="margin-bottom: 15%;">
<img class="profi-1 hid ic" style="margin-left: 10%;" src="https://img.icons8.com/glyph-neue/30/787A91/gender-neutral-user.png"/> <span class="prof-1 hid ic changing-button" style=" font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Profile</span>
<img class="profiw-2 hid ic" style="margin-left: 10%;" src="https://img.icons8.com/glyph-neue/30/FF869E/gender-neutral-user.png"/><span class="profw-2 hid ic changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #fff">Profile</span>
<img class="profi-2 ic" style="margin-left: 10%;" src="https://img.icons8.com/glyph-neue/30/4F0E0E/gender-neutral-user.png"/><span class="prof-2 ic changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #4F0E0E">Profile</span>  
<img class="profi0 hid ic" style="margin-left: 10%;" src="https://img.icons8.com/glyph-neue/30/787A91/gender-neutral-user.png"/> <span class="prof0 hid ic changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Profile</span>
    </div>
    <div style="margin-bottom: 15%;">
      <img class="acti-1" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/787A91/performance-macbook.png"/> <span class="act-1 changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Activity</span>
      <img class="acti-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/4F0E0E/performance-macbook.png"/><span class="act-2 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #4F0E0E">Activity</span> 
      <img class="actiw-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/FF869E/performance-macbook.png"/><span class="actw-2 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #fff">Activity</span>
      <img class="acti0 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/787A91/performance-macbook.png"/> <span class="act0 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Activity</span>
    </div>
    <div style="margin-bottom: 15%;">
      <img class="seti-1" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/787A91/settings--v1.png"/> <span class="set-1 changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Settings</span>
      <img class="seti-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/4F0E0E/settings--v1.png"/> <span class="set-2 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #4F0E0E">Settings</span>
      <img class="setiw-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/FF869E/settings--v1.png"/> <span class="setw-2 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #fff">Settings</span>
      <img class="seti0 hid" style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/787A91/settings--v1.png"/> <span class="set0 hid changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #787A91">Settings</span>
    </div>
    <hr style="width: 75%; margin-left: 10%; margin-right: 10%; border: 1px solid #787A91">
    <div style="margin-bottom: 15%;" class="fav1">
      <img style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/000000/ratings.png"/> <span class="changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #000">Frequently used: <span>0</span></span>
    </div>
    <div style="margin-bottom: 15%;" class="fav2 hid">
      <img style="margin-left: 10%;" src="https://img.icons8.com/ios-glyphs/30/FF869E/ratings.png"/> <span class="changing-button" style="font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; color: #fff">Frequently used: <span>0</span></span>
    </div>
    </div>
    </div>

    <div class="phone2 hid">
      <div class="below-phone2" style=" background-color: #fff; border-right: 3px solid #f1f1f1 ;">
        <div class="dover" style="padding: 0 20%; padding-top: 20px; background-color: #FEFBF3; padding-bottom: 30%;">
          <img class="icon1 hig" style="width: 120%; margin-left: auto; margin-right: auto;" src="static/icon.webp" alt="">
          <img class="icon2 hid" style="width: 75%; margin-left: auto; margin-right: auto; margin-top: 18%;" src="static/footer.webp" alt="">
          </div>
  <!-- <i style="padding: 1% 6.2%; padding-right: 4%; color: #fff; background-color:#4F0E0E; font-size: 1.5vw; margin-left:81%; border-bottom-left-radius: 100%; border-top-left-radius: 100%;" class="fa fa-angle-double-right"> </i> -->
  <i style="padding: 0.5% 1%; padding-right: 1%; color: #fff; background-color:#4F0E0E; font-size: 1.5vw; border-bottom-left-radius: 100%; border-top-left-radius: 100%; position: fixed;" class="sliding2 fa fa-angle-double-right"> </i>
        
        <img style="margin-left: auto; margin-right: auto; width: 40%; display: block; border-radius: 100%; margin-bottom: 50%; margin-top: 20%;" src="static/icon-image.jpg"/>
  <!-- <h1 class="name1" style="font-size: 1.5vw; padding-bottom:20%; font-family: 'Varela Round', sans-serif; text-align: center; padding-top: 5%; font-weight: 700;">Enamuehen<span class="name2" style="color: #4F0E0E"> Angelo <img style="width: 8%;" src="https://img.icons8.com/external-anggara-flat-anggara-putra/32/000000/external-verified-ui-basic-anggara-flat-anggara-putra.png"/></span></h1> -->
        <div style="margin-bottom: 60%;">
            <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashis-1 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/></a>
                <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashis-2 hig" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/metro/26/787A91/home.png"/></a>
                    <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashisw hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/metro/26/FF869E/home.png"/></a>
                        <a href="/<%=username%>-dashboard" style="text-decoration: none;"><img class="dashis0 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/metro/26/787A91/home.png"/></a>
      </div>
        <div style="margin-bottom: 60%;">
        <img class="profis-1 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/glyph-neue/30/787A91/gender-neutral-user.png"/>
        <img class="profis-2 hig" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/glyph-neue/30/4F0E0E/gender-neutral-user.png"/>
        <img class="profisw hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/glyph-neue/30/FF869E/gender-neutral-user.png"/> 
        <img class="profis0 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/glyph-neue/30/787A91/gender-neutral-user.png"/>
            </div>
      <div style="margin-bottom: 60%;">
        <img class="actis-1 hig" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/787A91/performance-macbook.png"/> 
        <img class="actis-2 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/4F0E0E/performance-macbook.png"/>
        <img class="actisw hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/FF869E/performance-macbook.png"/>
        <img class="actis0 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/787A91/performance-macbook.png"/> 
      
      </div>
      <div style="margin-bottom: 60%;">
        <img class="setis-1 hig" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/787A91/settings--v1.png"/>
        <img class="setis-2 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/4F0E0E/settings--v1.png"/>
        <img class="setisw hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/FF869E/settings--v1.png"/>
        <img class="setis0 hid" style="width: 30%; margin-left: auto; margin-right: auto;" src="https://img.icons8.com/ios-glyphs/30/787A91/settings--v1.png"/>
      </div>
      <hr style="width: 75%; margin-left: 10%; margin-right: 10%; border: 1px solid #787A91">
      <div class="set1" style="margin-bottom: 60%;">
        <img style="width: 30%; margin-left: auto; margin-right: auto; display: block;" src="https://img.icons8.com/ios-glyphs/30/000000/ratings.png"/> 
      </div>
      <div class="set2 hid" style="margin-bottom: 60%;">
        <img style="width: 30%; margin-left: auto; margin-right: auto; display: block;" src="https://img.icons8.com/ios-glyphs/30/FF869E/ratings.png"/> 
      </div>
      </div>
      </div>
  <!-- </div> -->
  <!-- #fdfeff -->
    <!-- <div class="rapper bbb" style=""> -->
    <div class="sec-phone profile-adjustment1" style=" background-color: #fdfeff;">
      <!-- <div style=" background-color: #fdfeff;"> -->
<img class="user-picture" style="border-radius:100%; margin-left:auto; margin-right:auto; display:block; margin-top:5%; margin-bottom: -5%;" src="static/no-user.gif" alt="no-user"> 
<i style=" color: #000; text-align: center; border-radius: 100%;" class="pencil fa fa-pencil"></i>
<h1 class="user-nick" style="text-align: center; font-family: 'Varela Round', sans-serif; font-weight: 700; margin-top: 3%; text-transform: capitalize;"> <span style="color: #4F0E0E;">@</span><%=username%></h1>
<form action="" method="post">
  <h1  class="user-title" style="font-family: 'Merienda One', cursive; font-weight: 700; margin-left:16%; margin-top: 15%;">Full Name:</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn" style=" border-top-right-radius: 0%; border-bottom-right-radius: 0%; border-right: none; border-color: #4F0E0E;"><i style="color: #4F0E0E;" class="fa fa-user"></i></button>
        <input class="profile-inside user-details" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none;  background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700;" name="current" type="text" value="Enamuehen Nosakhare Angelo" readonly required>
         <button type="button" class="btn" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #4F0E0E;"><i style="color: #fff;" class="fa fa-pencil"></i></button>
          <!-- <label for="">Full Nmae</label> -->
    </div>
    <h1 class="user-title" style="font-family: 'Merienda One', cursive; font-weight: 700; margin-left:16%; margin-top: 8%;">Email:</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn" style=" border-top-right-radius: 0%; border-bottom-right-radius: 0%; border-right: none; border-color: #4F0E0E;"><i style="color: #4F0E0E;" class="fa fa-envelope"></i></button>
        <input class="profile-inside user-details" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none;  background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700;" name="current" type="email" value="Angelokhare@gmail.com" readonly required>
         <button type="button" class="btn" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #4F0E0E;"><i style="color: #fff;" class="fa fa-pencil"></i></button>
          <!-- <label for="">Full Nmae</label> -->
    </div>
    <h1  class="user-title" style="font-family: 'Merienda One', cursive; font-weight: 700; margin-left:16%; margin-top: 8%;">Phone Number:</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn" style=" border-top-right-radius: 0%; border-bottom-right-radius: 0%; border-right: none; border-color: #4F0E0E;"><i style="color: #4F0E0E;" class="fa fa-phone"></i></button>
        <input class="profile-inside user-details" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none;  background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700;" name="current" type="number" value="2347081207165" required>
         <button type="button" class="btn" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #4F0E0E;"><i style="color: #fff;" class="fa fa-pencil"></i></button>
          <!-- <label for="">Full Nmae</label> -->
    </div>

    <h1  class="user-title" style="font-family: 'Merienda One', cursive; font-weight: 700; margin-left:16%; margin-top: 8%;">Date of Birth:</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn" style=" border-top-right-radius: 0%; border-bottom-right-radius: 0%; border-right: none; border-color: #4F0E0E;"><i style="color: #4F0E0E;" class="fa fa-birthday-cake"></i></button>
        <input class="profile-inside user-details" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none;  background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700;" name="current" type="date" required>
         <button type="button" class="btn" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #4F0E0E;"><i style="color: #fff;" class="fa fa-pencil"></i></button>
          <!-- <label for="">Full Nmae</label> -->
    </div>
    
    <h1  class="user-title" style="font-family: 'Merienda One', cursive; font-weight: 700; margin-left:16%; margin-top: 8%;">Password:</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%; margin-bottom: 40%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn" style=" border-top-right-radius: 0%; border-bottom-right-radius: 0%; border-right: none; border-color: #4F0E0E;"><i style="color: #4F0E0E;" class="fa fa-key"></i></button>
        <input class="profile-inside user-details pass-login" style="border-radius: 0%; text-transform: capitalize; border-right: none; border-left: none;  background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; padding-right: 11%;" name="current" value="ghgasrthg" type="password" required>
        <button class="btn vis eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-color: #4F0E0E; background-color: #fbf8f5;"><img class="img-pass" style="margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/visible.png"/></button>
        <button class="btn invis hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; border-color: #4F0E0E; background-color: #fbf8f5;"><img class="img-pass" style=" margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/000000/invisible.png"/></button>
        <button class="btn vis-white hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; background-color: #1d2a35;"><img class="img-pass" style="margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/white/48/ffffff/visible.png"/></button>
    <button class="btn invis-white hid eye-log" type="button" style="border-radius: 0%; border-right: none;  border-left: none; background-color: #1d2a35;"><img class="img-pass" style=" margin-left:-60%;" src="https://img.icons8.com/fluency-systems-regular/48/ffffff/invisible.png"/></button> 
        <button type="button" class="btn" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #4F0E0E;"><i style="color: #fff;" class="fa fa-pencil"></i></button>
          <!-- <label for="">Full Nmae</label> -->
    </div>
</form> 
    </div>
  <div class="third-phone" style=" width: 25%; margin-left:74.8%; border-left: 3px solid #DFDFDE ;">
    <div style="">
      <div class="light-home" style=" background-color: #F2F2F2; position: fixed; width: 25%;">
<ul class="docking" style="padding-top: 2%; padding-bottom: 8%;">
      <li class="noti ho light"><i style="font-size: 2vw; color: #4F0E0E;" class="fa fa-lightbulb-o"></i></li>
      <li class="dark hid"> <i style="font-size: 2vw; color: #fff;" class=" fa fa-moon-o"></i></li>
      <li class="noti"><i style="font-size: 2vw; color: #4F0E0E;" class="fa fa-comments-o"></i></li>
      <li class="noti"><i style="font-size: 2vw; color: #4F0E0E;" class="fa fa-video-camera"></i></li>
      <li class="noti"><i style="font-size: 2vw; color: #4F0E0E;" class="fa fa-bell"></i></li>
      <!-- <li class="noti"><img src="https://img.icons8.com/ios/35/4F0E0E/messages-mac.png"/></li> -->
</ul>
      <form action="/home" method="post" class="">
        <div class="form-group">
          <input class="inside" style=" text-transform: capitalize; border-right: none; background-color: #fdfeff; border-color: #4F0E0E;" name="current" type="search" placeholder="Search" required>
          <button type="submit" class="btn " style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none; background-color: #fdfeff; border-right: 1px solid ; border-top: 1px solid; border-bottom: 1px solid ;"><i style="color: #4F0E0E;" class="fa fa-search"></i></button>
        </div>
      </div>
    <!-- <video autoplay muted loop playsinline id="mydancing" style="width: 100%; height: 100vh; position: fixed;"><source src="static/tree1.mp4" type="video/mp4"></video> -->
<div style="padding-top: 20%;"></div>
    <!-- <img style="margin-left: auto; margin-right: auto; width: 40%; display: block; border-radius: 100%;" src="static/icon-image.jpg"/> -->
    <div style="margin-bottom: 15%;">
      <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
      <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
    </div>
    <div style="margin-bottom: 15%;">
      <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
      <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
    </div>
    <div style="margin-bottom: 15%;">
      <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
      <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
    </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
  <div style="margin-bottom: 15%;">
    <img class="dashi-1" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/4F0E0E/home.png"/> <span class="dash-1" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #4F0E0E;">Dashboard</span><br>
    <img class="dashi-2 hid" style="margin-left: 10%;" src="https://img.icons8.com/metro/26/787A91/home.png"/> <span class="dash-2 hid" style="font-size: 1vw; font-family: 'Varela Round', sans-serif; font-weight:700; margin-left: 3%; padding-bottom: 2%; color: #787A91;">Dashboard</span><br>  
  </div>
    </div>
</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
       <script>
// if(document.querySelector(".dark").className.contains("hid")){
// button clicked2
document.querySelector(".prof-1").addEventListener("click", ()=>{
  document.querySelector(".prof-1").classList.add("hid")
  document.querySelector(".prof-2").classList.remove("hid")
  document.querySelector(".profi-1").classList.add("hid")
  document.querySelector(".profi-2").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
    // dash second
    document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hid")
  document.querySelector(".profis-1").classList.remove("hig")
  document.querySelector(".profis-2").classList.remove("hid")
  document.querySelector(".profis-2").classList.add("hig")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

document.querySelector(".profi-1").addEventListener("click", ()=>{
  document.querySelector(".prof-1").classList.add("hid")
  document.querySelector(".prof-2").classList.remove("hid")
  document.querySelector(".profi-1").classList.add("hid")
  document.querySelector(".profi-2").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
  // dash second
  document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hid")
  document.querySelector(".profis-1").classList.remove("hig")
  document.querySelector(".profis-2").classList.remove("hid")
  document.querySelector(".profis-2").classList.add("hig")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

document.querySelector(".profis-1").addEventListener("click", ()=>{
  document.querySelector(".prof-1").classList.add("hid")
  document.querySelector(".prof-2").classList.remove("hid")
  document.querySelector(".profi-1").classList.add("hid")
  document.querySelector(".profi-2").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
  // dash second
  document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hid")
  document.querySelector(".profis-1").classList.remove("hig")
  document.querySelector(".profis-2").classList.remove("hid")
  document.querySelector(".profis-2").classList.add("hig")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})


// button clicked1
document.querySelector(".dash-2").addEventListener("click", ()=>{
  document.querySelector(".dash-1").classList.remove("hid")
  document.querySelector(".dash-2").classList.add("hid")
  document.querySelector(".dashi-1").classList.remove("hid")
  document.querySelector(".dashi-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
  // dash second
  document.querySelector(".dashis-1").classList.add("hig")
  document.querySelector(".dashis-1").classList.remove("hid")
  document.querySelector(".dashis-2").classList.remove("hig")
  document.querySelector(".dashis-2").classList.add("hid")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})
document.querySelector(".dashi-2").addEventListener("click", ()=>{
  document.querySelector(".dash-1").classList.remove("hid")
  document.querySelector(".dash-2").classList.add("hid")
  document.querySelector(".dashi-1").classList.remove("hid")
  document.querySelector(".dashi-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
    // dash second
    document.querySelector(".dashis-1").classList.add("hig")
  document.querySelector(".dashis-1").classList.remove("hid")
  document.querySelector(".dashis-2").classList.remove("hig")
  document.querySelector(".dashis-2").classList.add("hid")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

document.querySelector(".dashis-2").addEventListener("click", ()=>{
  document.querySelector(".dash-1").classList.remove("hid")
  document.querySelector(".dash-2").classList.add("hid")
  document.querySelector(".dashi-1").classList.remove("hid")
  document.querySelector(".dashi-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
    // dash second
    document.querySelector(".dashis-1").classList.add("hig")
  document.querySelector(".dashis-1").classList.remove("hid")
  document.querySelector(".dashis-2").classList.remove("hig")
  document.querySelector(".dashis-2").classList.add("hid")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

// button clicked3
document.querySelector(".act-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-1").classList.add("hid")
  document.querySelector(".act-2").classList.remove("hid")
  document.querySelector(".acti-1").classList.add("hid")
  document.querySelector(".acti-2").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
      // dash second
      document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hid")
  document.querySelector(".actis-1").classList.remove("hig")
  document.querySelector(".actis-2").classList.remove("hid")
  document.querySelector(".actis-2").classList.add("hig")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})
document.querySelector(".acti-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-1").classList.add("hid")
  document.querySelector(".act-2").classList.remove("hid")
  document.querySelector(".acti-1").classList.add("hid")
  document.querySelector(".acti-2").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
        // dash second
        document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hid")
  document.querySelector(".actis-1").classList.remove("hig")
  document.querySelector(".actis-2").classList.remove("hid")
  document.querySelector(".actis-2").classList.add("hig")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

document.querySelector(".actis-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-1").classList.add("hid")
  document.querySelector(".act-2").classList.remove("hid")
  document.querySelector(".acti-1").classList.add("hid")
  document.querySelector(".acti-2").classList.remove("hid")
  document.querySelector(".set-2").classList.add("hid")
  document.querySelector(".set-1").classList.remove("hid")
  document.querySelector(".seti-2").classList.add("hid")
  document.querySelector(".seti-1").classList.remove("hid")
        // dash second
        document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hid")
  document.querySelector(".actis-1").classList.remove("hig")
  document.querySelector(".actis-2").classList.remove("hid")
  document.querySelector(".actis-2").classList.add("hig")
  document.querySelector(".setis-1").classList.add("hig")
  document.querySelector(".setis-1").classList.remove("hid")
  document.querySelector(".setis-2").classList.remove("hig")
  document.querySelector(".setis-2").classList.add("hid")
})

// button clicked4
document.querySelector(".set-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-1").classList.add("hid")
  document.querySelector(".set-2").classList.remove("hid")
  document.querySelector(".seti-1").classList.add("hid")
  document.querySelector(".seti-2").classList.remove("hid")
// dash second
  document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hid")
  document.querySelector(".setis-1").classList.remove("hig")
  document.querySelector(".setis-2").classList.remove("hid")
  document.querySelector(".setis-2").classList.add("hig")
})
document.querySelector(".seti-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-1").classList.add("hid")
  document.querySelector(".set-2").classList.remove("hid")
  document.querySelector(".seti-1").classList.add("hid")
  document.querySelector(".seti-2").classList.remove("hid")
  // dash second
  document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hid")
  document.querySelector(".setis-1").classList.remove("hig")
  document.querySelector(".setis-2").classList.remove("hid")
  document.querySelector(".setis-2").classList.add("hig")
})

document.querySelector(".setis-1").addEventListener("click", ()=>{
  document.querySelector(".prof-2").classList.add("hid")
  document.querySelector(".prof-1").classList.remove("hid")
  document.querySelector(".profi-2").classList.add("hid")
  document.querySelector(".profi-1").classList.remove("hid")
  document.querySelector(".dash-1").classList.add("hid")
  document.querySelector(".dash-2").classList.remove("hid")
  document.querySelector(".dashi-1").classList.add("hid")
  document.querySelector(".dashi-2").classList.remove("hid")
  document.querySelector(".act-2").classList.add("hid")
  document.querySelector(".act-1").classList.remove("hid")
  document.querySelector(".acti-2").classList.add("hid")
  document.querySelector(".acti-1").classList.remove("hid")
  document.querySelector(".set-1").classList.add("hid")
  document.querySelector(".set-2").classList.remove("hid")
  document.querySelector(".seti-1").classList.add("hid")
  document.querySelector(".seti-2").classList.remove("hid")
  // dash second
  document.querySelector(".dashis-1").classList.add("hid")
  document.querySelector(".dashis-1").classList.remove("hig")
  document.querySelector(".dashis-2").classList.remove("hid")
  document.querySelector(".dashis-2").classList.add("hig")
  document.querySelector(".profis-1").classList.add("hig")
  document.querySelector(".profis-1").classList.remove("hid")
  document.querySelector(".profis-2").classList.remove("hig")
  document.querySelector(".profis-2").classList.add("hid")
  document.querySelector(".actis-1").classList.add("hig")
  document.querySelector(".actis-1").classList.remove("hid")
  document.querySelector(".actis-2").classList.remove("hig")
  document.querySelector(".actis-2").classList.add("hid")
  document.querySelector(".setis-1").classList.add("hid")
  document.querySelector(".setis-1").classList.remove("hig")
  document.querySelector(".setis-2").classList.remove("hid")
  document.querySelector(".setis-2").classList.add("hig")
})

    // dxfdghjklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    

    document.querySelector(".prof0").addEventListener("click", ()=>{
  document.querySelector(".prof0").classList.add("hid")
  document.querySelector(".profw-2").classList.remove("hid")
  document.querySelector(".profi0").classList.add("hid")
  document.querySelector(".profiw-2").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
    // dash second
    document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hid")
  document.querySelector(".profis0").classList.remove("hig")
  document.querySelector(".profisw").classList.remove("hid")
  document.querySelector(".profisw").classList.add("hig")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

document.querySelector(".profi0").addEventListener("click", ()=>{
  document.querySelector(".prof0").classList.add("hid")
  document.querySelector(".profw-2").classList.remove("hid")
  document.querySelector(".profi0").classList.add("hid")
  document.querySelector(".profiw-2").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
  // dash second
  document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hid")
  document.querySelector(".profis0").classList.remove("hig")
  document.querySelector(".profisw").classList.remove("hid")
  document.querySelector(".profisw").classList.add("hig")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

document.querySelector(".profis0").addEventListener("click", ()=>{
  document.querySelector(".prof0").classList.add("hid")
  document.querySelector(".profw-2").classList.remove("hid")
  document.querySelector(".profi0").classList.add("hid")
  document.querySelector(".profiw-2").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
  // dash second
  document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hid")
  document.querySelector(".profis0").classList.remove("hig")
  document.querySelector(".profisw").classList.remove("hid")
  document.querySelector(".profisw").classList.add("hig")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})


// button clicked1
document.querySelector(".dash0").addEventListener("click", ()=>{
  document.querySelector(".dashw-1").classList.remove("hid")
  document.querySelector(".dash0").classList.add("hid")
  document.querySelector(".dashiw-1").classList.remove("hid")
  document.querySelector(".dashi0").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
  // dash second
  document.querySelector(".dashisw").classList.add("hig")
  document.querySelector(".dashisw").classList.remove("hid")
  document.querySelector(".dashis0").classList.remove("hig")
  document.querySelector(".dashis0").classList.add("hid")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})
document.querySelector(".dashi0").addEventListener("click", ()=>{
  document.querySelector(".dashw-1").classList.remove("hid")
  document.querySelector(".dash0").classList.add("hid")
  document.querySelector(".dashiw-1").classList.remove("hid")
  document.querySelector(".dashi0").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
    // dash second
    document.querySelector(".dashisw").classList.add("hig")
  document.querySelector(".dashisw").classList.remove("hid")
  document.querySelector(".dashis0").classList.remove("hig")
  document.querySelector(".dashis0").classList.add("hid")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

document.querySelector(".dashis0").addEventListener("click", ()=>{
  document.querySelector(".dashw-1").classList.remove("hid")
  document.querySelector(".dash0").classList.add("hid")
  document.querySelector(".dashiw-1").classList.remove("hid")
  document.querySelector(".dashi0").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
    // dash second
    document.querySelector(".dashisw").classList.add("hig")
  document.querySelector(".dashisw").classList.remove("hid")
  document.querySelector(".dashis0").classList.remove("hig")
  document.querySelector(".dashis0").classList.add("hid")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

// button clicked3
document.querySelector(".act0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".act0").classList.add("hid")
  document.querySelector(".actw-2").classList.remove("hid")
  document.querySelector(".acti0").classList.add("hid")
  document.querySelector(".actiw-2").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
      // dash second
      document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hid")
  document.querySelector(".actis0").classList.remove("hig")
  document.querySelector(".actisw").classList.remove("hid")
  document.querySelector(".actisw").classList.add("hig")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})
document.querySelector(".acti0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".act0").classList.add("hid")
  document.querySelector(".actw-2").classList.remove("hid")
  document.querySelector(".acti0").classList.add("hid")
  document.querySelector(".actiw-2").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
        // dash second
        document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hid")
  document.querySelector(".actis0").classList.remove("hig")
  document.querySelector(".actisw").classList.remove("hid")
  document.querySelector(".actisw").classList.add("hig")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

document.querySelector(".actis0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".act0").classList.add("hid")
  document.querySelector(".actw-2").classList.remove("hid")
  document.querySelector(".acti0").classList.add("hid")
  document.querySelector(".actiw-2").classList.remove("hid")
  document.querySelector(".setw-2").classList.add("hid")
  document.querySelector(".set0").classList.remove("hid")
  document.querySelector(".setiw-2").classList.add("hid")
  document.querySelector(".seti0").classList.remove("hid")
        // dash second
        document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".actis0").classList.add("hid")
  document.querySelector(".actis0").classList.remove("hig")
  document.querySelector(".actisw").classList.remove("hid")
  document.querySelector(".actisw").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hig")
  document.querySelector(".setis0").classList.remove("hid")
  document.querySelector(".setisw").classList.remove("hig")
  document.querySelector(".setisw").classList.add("hid")
})

// button clicked4
document.querySelector(".set0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".set0").classList.add("hid")
  document.querySelector(".setw-2").classList.remove("hid")
  document.querySelector(".seti0").classList.add("hid")
  document.querySelector(".setiw-2").classList.remove("hid")
// dash second
  document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hid")
  document.querySelector(".setis0").classList.remove("hig")
  document.querySelector(".setisw").classList.remove("hid")
  document.querySelector(".setisw").classList.add("hig")
})
document.querySelector(".seti0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".set0").classList.add("hid")
  document.querySelector(".setw-2").classList.remove("hid")
  document.querySelector(".seti0").classList.add("hid")
  document.querySelector(".setiw-2").classList.remove("hid")
  // dash second
  document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hid")
  document.querySelector(".setis0").classList.remove("hig")
  document.querySelector(".setisw").classList.remove("hid")
  document.querySelector(".setisw").classList.add("hig")
})

document.querySelector(".setis0").addEventListener("click", ()=>{
  document.querySelector(".profw-2").classList.add("hid")
  document.querySelector(".prof0").classList.remove("hid")
  document.querySelector(".profiw-2").classList.add("hid")
  document.querySelector(".profi0").classList.remove("hid")
  document.querySelector(".dashw-1").classList.add("hid")
  document.querySelector(".dash0").classList.remove("hid")
  document.querySelector(".dashiw-1").classList.add("hid")
  document.querySelector(".dashi0").classList.remove("hid")
  document.querySelector(".actw-2").classList.add("hid")
  document.querySelector(".act0").classList.remove("hid")
  document.querySelector(".actiw-2").classList.add("hid")
  document.querySelector(".acti0").classList.remove("hid")
  document.querySelector(".set0").classList.add("hid")
  document.querySelector(".setw-2").classList.remove("hid")
  document.querySelector(".seti0").classList.add("hid")
  document.querySelector(".setiw-2").classList.remove("hid")
  // dash second
  document.querySelector(".dashisw").classList.add("hid")
  document.querySelector(".dashisw").classList.remove("hig")
  document.querySelector(".dashis0").classList.remove("hid")
  document.querySelector(".dashis0").classList.add("hig")
  document.querySelector(".profis0").classList.add("hig")
  document.querySelector(".profis0").classList.remove("hid")
  document.querySelector(".profisw").classList.remove("hig")
  document.querySelector(".profisw").classList.add("hid")
  document.querySelector(".actis0").classList.add("hig")
  document.querySelector(".actis0").classList.remove("hid")
  document.querySelector(".actisw").classList.remove("hig")
  document.querySelector(".actisw").classList.add("hid")
  document.querySelector(".setis0").classList.add("hid")
  document.querySelector(".setis0").classList.remove("hig")
  document.querySelector(".setisw").classList.remove("hid")
  document.querySelector(".setisw").classList.add("hig")
})



document.querySelector(".fa-angle-double-left").addEventListener("click", function(){
  document.querySelector(".phone").classList.add("hid")
  document.querySelector(".phone2").classList.remove("hid")
   document.querySelector(".sec-phone").classList.add("profile-adjustment2")
   document.querySelector(".sec-phone").classList.remove("profile-adjustment1")
  document.querySelector(".story").style.width="67%"
  document.querySelector(".story").style.marginTop="-14%"
  document.querySelector(".greeting").style.marginTop="-14%"

  
})
document.querySelector(".fa-angle-double-right").addEventListener("click", function(){
  document.querySelector(".phone").classList.remove("hid")
  document.querySelector(".phone2").classList.add("hid")
  document.querySelector(".sec-phone").classList.remove("profile-adjustment2")
   document.querySelector(".sec-phone").classList.add("profile-adjustment1")
  document.querySelector(".story").style.width="55%"
  document.querySelector(".story").style.marginTop="-12%"
  document.querySelector(".greeting").style.marginTop="-2%"
})


document.querySelector(".light").addEventListener('click', ()=>{
  document.querySelector(".light").classList.add("hid")
  document.querySelector(".light").classList.remove("noti")
  document.querySelector(".dark").classList.remove("hid")
  document.querySelector(".dark").classList.add("noti")
  document.querySelector(".phone").style.backgroundColor="#000"
  document.querySelector(".phone2").style.backgroundColor="#000"
  document.querySelector(".below-phone").style.backgroundColor="#000"
  document.querySelector(".below-phone2").style.backgroundColor="#000"
  document.querySelector(".dash-header").style.color="#fff"
  document.querySelector(".header-other").style.color="#FF869E"
  document.querySelector(".name2").style.color="#FF869E"
  document.querySelector(".name1").style.color="#fff"
  document.querySelector(".slog2").style.color="#FF869E"
  document.querySelector(".slog1").style.color="#fff"
  document.querySelector(".fa-comments-o").style.color="#fff"
  document.querySelector(".fa-video-camera").style.color="#fff"
  document.querySelector(".fa-bell").style.color="#fff"
  document.querySelectorAll(".icon2")[0].classList.remove("hid")
  document.querySelectorAll(".icon1")[0].classList.add("hid")
  document.querySelectorAll(".icon2")[1].classList.remove("hid")
  document.querySelectorAll(".icon1")[1].classList.add("hid")
  document.querySelectorAll(".icon2")[1].classList.add("hig")
  document.querySelectorAll(".icon1")[1].classList.remove("hig")
  document.querySelector(".set1").classList.add("hid")
  document.querySelector(".set2").classList.remove("hid")
  document.querySelector(".fav2").classList.remove("hid")
  document.querySelector(".fav1").classList.add("hid")
  document.querySelector(".light-home").style.backgroundColor="#1B2430"
  document.querySelectorAll(".dover")[0].style.backgroundColor="#1B2430"
  document.querySelectorAll(".dover")[1].style.backgroundColor="#1B2430"
  if(document.querySelector(".dashi-1").classList.contains("hid")){
    document.querySelector(".dashiw-1").classList.add("hid")
    document.querySelector(".dashw-1").classList.add("hid")
    document.querySelector(".dashisw").classList.add("hid")
    document.querySelector(".dashisw").classList.remove("hig")
  }
  else{
    document.querySelector(".dashiw-1").classList.remove("hid")
    document.querySelector(".dashw-1").classList.remove("hid")
    document.querySelector(".dashi-1").classList.add("hid")
    document.querySelector(".dash-1").classList.add("hid")
    document.querySelector(".dashisw").classList.remove("hid")
    document.querySelector(".dashisw").classList.add("hig")
    document.querySelector(".dashis-1").classList.add("hid")
    document.querySelector(".dashis-1").classList.remove("hig")
  }
  if(document.querySelector(".profi-2").classList.contains("hid")){
    document.querySelector(".profiw-2").classList.add("hid")
    document.querySelector(".profw-2").classList.add("hid")
    document.querySelector(".profisw").classList.add("hid")
    document.querySelector(".profisw").classList.remove("hig")
  }
  else{
    document.querySelector(".profiw-2").classList.remove("hid")
    document.querySelector(".profi-2").classList.add("hid")
    document.querySelector(".profw-2").classList.remove("hid")
    document.querySelector(".prof-2").classList.add("hid")
    document.querySelector(".profisw").classList.remove("hid")
    document.querySelector(".profisw").classList.add("hig")
    document.querySelector(".profis-2").classList.add("hid")
    document.querySelector(".profis-2").classList.remove("hig")
  }
  if(document.querySelector(".acti-2").classList.contains("hid")){
    document.querySelector(".actiw-2").classList.add("hid")
    document.querySelector(".actw-2").classList.add("hid")
    document.querySelector(".actisw").classList.add("hid")
    document.querySelector(".actisw").classList.remove("hig")
  }
  else{
    document.querySelector(".actiw-2").classList.remove("hid")
    document.querySelector(".acti-2").classList.add("hid")
    document.querySelector(".actw-2").classList.remove("hid")
    document.querySelector(".act-2").classList.add("hid")
    document.querySelector(".actisw").classList.remove("hid")
    document.querySelector(".actisw").classList.add("hig")
    document.querySelector(".actis-2").classList.add("hid")
    document.querySelector(".actis-2").classList.remove("hig")
  }
  if(document.querySelector(".seti-2").classList.contains("hid")){
    document.querySelector(".setiw-2").classList.add("hid")
    document.querySelector(".setw-2").classList.add("hid")
    document.querySelector(".setisw").classList.add("hid")
    document.querySelector(".setisw").classList.remove("hig")
  }
  else{
    document.querySelector(".setiw-2").classList.remove("hid")
    document.querySelector(".seti-2").classList.add("hid")
    document.querySelector(".setw-2").classList.remove("hid")
    document.querySelector(".set-2").classList.add("hid")
    document.querySelector(".setisw").classList.remove("hid")
    document.querySelector(".setisw").classList.add("hig")
    document.querySelector(".setis-2").classList.add("hid")
    document.querySelector(".setis-2").classList.remove("hig")
  }
  if(document.querySelector(".dashis-2").classList.contains("hig")){
    document.querySelector(".dashis-2").classList.add("hid")
    document.querySelector(".dashis-2").classList.remove("hig") 
    document.querySelector(".dashis0").classList.add("hig")
    document.querySelector(".dashis0").classList.remove("hid")
    document.querySelector(".dashi0").classList.remove("hid")
    document.querySelector(".dash0").classList.remove("hid")
    document.querySelector(".dashi-2").classList.add("hid")
    document.querySelector(".dash-2").classList.add("hid")
  }
  if(document.querySelector(".profis-1").classList.contains("hig")){
    document.querySelector(".profis-1").classList.add("hid")
    document.querySelector(".profis-1").classList.remove("hig") 
    document.querySelector(".profis0").classList.add("hig")
    document.querySelector(".profis0").classList.remove("hid")
    document.querySelector(".profi0").classList.remove("hid")
    document.querySelector(".prof0").classList.remove("hid")
    document.querySelector(".profi-1").classList.add("hid")
    document.querySelector(".prof-1").classList.add("hid")
  }
  if(document.querySelector(".actis-1").classList.contains("hig")){
    document.querySelector(".actis-1").classList.add("hid")
    document.querySelector(".actis-1").classList.remove("hig") 
    document.querySelector(".actis0").classList.add("hig")
    document.querySelector(".actis0").classList.remove("hid")
    document.querySelector(".acti0").classList.remove("hid")
    document.querySelector(".act0").classList.remove("hid")
    document.querySelector(".acti-1").classList.add("hid")
    document.querySelector(".act-1").classList.add("hid")
  }
  if(document.querySelector(".setis-1").classList.contains("hig")){
    document.querySelector(".setis-1").classList.add("hid")
    document.querySelector(".setis-1").classList.remove("hig") 
    document.querySelector(".setis0").classList.add("hig")
    document.querySelector(".setis0").classList.remove("hid")
    document.querySelector(".seti0").classList.remove("hid")
    document.querySelector(".set0").classList.remove("hid")
    document.querySelector(".seti-1").classList.add("hid")
    document.querySelector(".set-1").classList.add("hid")
  }
})

document.querySelector(".dark").addEventListener('click', ()=>{
  document.querySelector(".light").classList.remove("hid")
  document.querySelector(".light").classList.add("noti")
  document.querySelector(".dark").classList.add("hid")
  document.querySelector(".dark").classList.remove("noti")
  document.querySelector(".phone").style.backgroundColor="#fff"
  document.querySelector(".phone2").style.backgroundColor="#fff"
  document.querySelector(".below-phone").style.backgroundColor="#fff"
  document.querySelector(".below-phone2").style.backgroundColor="#fff"
  document.querySelector(".dash-header").style.color="#000"
  document.querySelector(".header-other").style.color="#4f0e0e"
  document.querySelector(".fa-comments-o").style.color="#4f0e0e"
  document.querySelector(".fa-video-camera").style.color="#4f0e0e"
  document.querySelector(".fa-bell").style.color="#4f0e0e"
  document.querySelectorAll(".icon2")[0].classList.add("hid")
  document.querySelectorAll(".icon1")[0].classList.remove("hid")
  document.querySelectorAll(".icon2")[1].classList.add("hid")
  document.querySelectorAll(".icon1")[1].classList.remove("hid")
  document.querySelectorAll(".icon2")[1].classList.remove("hig")
  document.querySelectorAll(".icon1")[1].classList.add("hig")
  document.querySelector(".fav2").classList.add("hid")
  document.querySelector(".fav1").classList.remove("hid")
  document.querySelector(".name2").style.color="#4f0e0e"
  document.querySelector(".name1").style.color="#000"
  document.querySelector(".slog2").style.color="#4f0e0e"
  document.querySelector(".slog1").style.color="#000"
  document.querySelector(".set1").classList.remove("hid")
  document.querySelector(".set2").classList.add("hid")
  document.querySelector(".light-home").style.backgroundColor="#FEFBF3"
  document.querySelectorAll(".dover")[0].style.backgroundColor="#FEFBF3"
  document.querySelectorAll(".dover")[1].style.backgroundColor="#FEFBF3"

  if(document.querySelector(".dashiw-1").classList.contains("hid")){
    document.querySelector(".dashi-1").classList.add("hid")
    document.querySelector(".dash-1").classList.add("hid")
  }
  else{
    document.querySelector(".dashiw-1").classList.add("hid")
    document.querySelector(".dashi-1").classList.remove("hid")
    document.querySelector(".dashw-1").classList.add("hid")
    document.querySelector(".dash-1").classList.remove("hid")
    document.querySelector(".dashisw").classList.remove("hig")
    document.querySelector(".dashisw").classList.add("hid")
    document.querySelector(".dashis-1").classList.add("hig")
    document.querySelector(".dashis-1").classList.remove("hid")
  }
  if(document.querySelector(".profiw-2").classList.contains("hid")){
    document.querySelector(".profi-2").classList.add("hid")
    document.querySelector(".prof-2").classList.add("hid")
  }
  else{
    document.querySelector(".profiw-2").classList.add("hid")
    document.querySelector(".profi-2").classList.remove("hid")
    document.querySelector(".profw-2").classList.add("hid")
    document.querySelector(".prof-2").classList.remove("hid")
    document.querySelector(".profisw").classList.remove("hig")
    document.querySelector(".profisw").classList.add("hid")
    document.querySelector(".profis-2").classList.add("hig")
    document.querySelector(".profis-2").classList.remove("hid")
  }
  if(document.querySelector(".actiw-2").classList.contains("hid")){
    document.querySelector(".acti-2").classList.add("hid")
    document.querySelector(".act-2").classList.add("hid")
  }
  else{
    document.querySelector(".actiw-2").classList.add("hid")
    document.querySelector(".acti-2").classList.remove("hid")
    document.querySelector(".actw-2").classList.add("hid")
    document.querySelector(".act-2").classList.remove("hid")
    document.querySelector(".actisw").classList.remove("hig")
    document.querySelector(".actisw").classList.add("hid")
    document.querySelector(".actis-2").classList.add("hig")
    document.querySelector(".actis-2").classList.remove("hid")
  }

  if(document.querySelector(".setiw-2").classList.contains("hid")){
    document.querySelector(".seti-2").classList.add("hid")
    document.querySelector(".set-2").classList.add("hid")
  }
  else{
    document.querySelector(".setiw-2").classList.add("hid")
    document.querySelector(".seti-2").classList.remove("hid")
    document.querySelector(".setw-2").classList.add("hid")
    document.querySelector(".set-2").classList.remove("hid")
    document.querySelector(".setisw").classList.remove("hig")
    document.querySelector(".setisw").classList.add("hid")
    document.querySelector(".setis-2").classList.add("hig")
    document.querySelector(".setis-2").classList.remove("hid")
  }

  if(document.querySelector(".dashis0").classList.contains("hig")){
    document.querySelector(".dashis-2").classList.add("hig")
    document.querySelector(".dashis-2").classList.remove("hid") 
    document.querySelector(".dashis0").classList.add("hid")
    document.querySelector(".dashis0").classList.remove("hig")
    document.querySelector(".dashi0").classList.add("hid")
    document.querySelector(".dash0").classList.add("hid")
    document.querySelector(".dashi-2").classList.remove("hid")
    document.querySelector(".dash-2").classList.remove("hid")
  }
  if(document.querySelector(".profis0").classList.contains("hig")){
    document.querySelector(".profis-1").classList.add("hig")
    document.querySelector(".profis-1").classList.remove("hid") 
    document.querySelector(".profis0").classList.add("hid")
    document.querySelector(".profis0").classList.remove("hig")
    document.querySelector(".profi0").classList.add("hid")
    document.querySelector(".prof0").classList.add("hid")
    document.querySelector(".profi-1").classList.remove("hid")
    document.querySelector(".prof-1").classList.remove("hid")
  }
  if(document.querySelector(".actis0").classList.contains("hig")){
    document.querySelector(".actis-1").classList.add("hig")
    document.querySelector(".actis-1").classList.remove("hid") 
    document.querySelector(".actis0").classList.add("hid")
    document.querySelector(".actis0").classList.remove("hig")
    document.querySelector(".acti0").classList.add("hid")
    document.querySelector(".act0").classList.add("hid")
    document.querySelector(".acti-1").classList.remove("hid")
    document.querySelector(".act-1").classList.remove("hid")
  }
  if(document.querySelector(".setis0").classList.contains("hig")){
    document.querySelector(".setis-1").classList.add("hig")
    document.querySelector(".setis-1").classList.remove("hid") 
    document.querySelector(".setis0").classList.add("hid")
    document.querySelector(".setis0").classList.remove("hig")
    document.querySelector(".seti0").classList.add("hid")
    document.querySelector(".set0").classList.add("hid")
    document.querySelector(".seti-1").classList.remove("hid")
    document.querySelector(".set-1").classList.remove("hid")
  }
})
document.querySelector(".vis").addEventListener("click", function(){
              document.querySelector(".vis").classList.add("hid")
              document.querySelector(".invis").classList.remove("hid")
              document.querySelector(".pass-login").setAttribute("type", "text");
            })
            document.querySelector(".invis").addEventListener("click", function(){
              document.querySelector(".vis").classList.remove("hid")
              document.querySelector(".invis").classList.add("hid")
              document.querySelector(".pass-login").setAttribute("type", "password");
            })

       </script>
</body>
</html>